
*.hdf5
*.h5
*.data-00000-of-00001
Pokemon/unet/*
Pokemon/predictor/*
Python ML By Examples/Chapter 4/train.csv
C-More/webscrapper.ipynb
C-More/webscrappednews.csv
C-More/webscrappednews2.csv
BacterialCell/images/*